# Binaries for programs and plugins
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work
go.work.sum

# env file
.env

# OS artefacts
.DS_Store

# Certificates
certs/pravo.tech.key
certs/pravo.tech.pem
